@import "tailwindcss";

:root {

  /* colors */
  --primarycolor: #F97316;
  --secondarycolor: #5EEB5B;
  --extralightcolor: #61FF7E;
  --spacingcolor: #A6EBC9;
  --coloringcolor: #393424;

  /* fonts */
  --primaryfont: "Young Serif", serif;
  --normalfont: "Montserrat", sans-serif;
  --displayfont: "Dancing Script", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Gilroy, sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -webkit-user-select: none;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  display: block;
  object-fit: cover;
}

button {
  cursor: pointer;
  border: none;
  /* font-size: clamp(0.9rem, 1.5vw, 1.1rem); */
}

button:active {
  transform: scale(0.8);
}

a {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 1.5;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  font-size: 5rem;
}

h1 {
  font-size: 1.5rem;
  font-size: 2.25rem;
  margin-top: 2.5rem !important;
  text-align: center;
  font-weight: 900;
  font-family: var(--primaryfont);
  line-height: .9;
  letter-spacing: .1px;
  color: var(--primarycolor);
}

@media (min-width: 640px) {
  h1 {
    font-size: 3.75rem;
    line-height: .9;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 4.5rem;
    line-height: .9;
  }
}

h3 {
  font-family: var(--displayfont);
  font-weight: 900;
  line-height: 75px;
}

h3 span {
  font-family: var(--displayfont);
  font-weight: 900;
  line-height: 80px;
}


h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700 !important;
  font-family: var(--normalfont);
  text-align: end;
}

@media (min-width: 1024px) {
  h4 {
    font-size: 1.8rem;
  }
}

h5 {
  font-family: var(--normalfont);
  text-align: end;
  font-size: 0.9rem;
}

@media (min-width: 1024px) {
  h5 {
    font-size: 1rem;
  }
}




h6 {
  font-family: var(--normalfont);
}