@import "tailwindcss";

:root {

  /* colors */
  --primarycolor: #62AB37;
  --secondarycolor: #5EEB5B;
  --extralightcolor: #61FF7E;
  --spacingcolor: #A6EBC9;
  --coloringcolor: #393424;

  /* fonts */
  --primaryfont: "Young Serif", serif;
  --normalfont: "Montserrat", sans-serif;
  --displayfont: "Dancing Script", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Gilroy, sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -webkit-user-select: none;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  display: block;
  object-fit: cover;
}

button {
  cursor: pointer;
  border: none;
  /* background-color: var(--primarycolor); */
}

a {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 1.5;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  font-size: 5rem;
}

h1 {
  text-align: center;
  font-weight: 900;
  font-family: var(--primaryfont);
  line-height: .9;
  letter-spacing: 2px;
  font-size: 5rem;
  color: var(--primarycolor);
}

h3 {
  font-family: var(--displayfont);
  font-weight: 900;
  line-height: 80px;
}

h3 span {
  font-family: var(--displayfont);
  font-weight: 900;
  line-height: 80px;
}

h4 {
  font-family: var(--normalfont);
  font-size: 1.8rem;
  font-weight: 500;
  text-align: end;
}

h5 {
  font-family: var(--normalfont);
  font-size: 1.3rem;
  text-align: end;
}

h6 {
  font-family: var(--normalfont);
  font-size: 1.1rem;
}